<!--Larisa Pyykölä, student number 1702357-->
<ion-header>
  <ion-toolbar color="primary">
      
    <ion-title>Login / Logout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <firebase-ui></firebase-ui> <!--added firebase ui component here-->
  <h1>Are you sure you want to logout?</h1>

  <ion-button expand="block" *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button> <!--added sign out button with corresponding method-->
  <ion-button expand="block" (click)="backButton()">Back</ion-button>
</ion-content>
